.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.bookImage {
	width: 150px;	
	max-height: 200px;
	margin-top: 10px;	
}

.bookTitle {
	width: 95%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.orders-info{
	background-color: #5cb85c;
	padding: 5px;
	margin-top: 5px;
	font-size: small;
	display: inline-block;
}

.orderid-header{
	font-size: 20px;
	margin-bottom: 20px;
	padding: 15px;
	width: 60%;
}

.order-details{
	font-size: 18px;
	padding: 7px;
	display: block;
	color: black;
	margin-left:20%;
	text-align:left;
}

.receipt{
	margin-top: 7%;
	border: 1px solid #ddd;
	padding: 25px;
}
