<!-- views/pages/userid.ejs -->
<head>
    <% include ../common/head.ejs %>
</head>
<% include ../common/body.ejs %>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="jumbotron col-lg-10" align="center" style="margin: auto">
            <p><%= userhistoryerror %></p>
    </div>
    <div class="col-lg-1"></div>
</div>
    